/* To keep footer at bottom of the page html element kept relative with height 100% and footer absolute. To make it work, the margin bottom for body and the height of the footer must also be the same*/
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 40px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: olive;
    text-align: center;
    color: white !important;
  }
  /*----------------------------------*/
  
  /* To include custom CSS into bootstrap template, new class added eg index-contact at beginning of existing bootstrap class however existing bootstrap class provided not deleted*/
  .index-contact {
    float: left;
    clear: both;
    overflow: auto;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 3em;
    background-color: lavender;
    border: 5px solid yellow;
    height: 60%;
    width: 95%;
  }
  /*-----------------------------------*/
  
  button {
    margin-top: 0.5em;
    margin-bottom: 20px;
  }
  /* Code for background images*/
  .aboutme {
    background: url(./images/mariah-hewines-ud_jbxxF1mM-unsplash.jpg)
      no-repeat center fixed;
    background-size: cover;
  }
  .portfolio {
    background: url(./images/andy-holmes-sliNTaUWgX8-unsplash.jpg)
      no-repeat center fixed;
    background-size: cover;
  }
  .contact {
    background: url(./images/kitera-dent-GJWiQGg8HIc-unsplash.jpg)
      no-repeat center fixed;
    background-size: cover;
  }
  /*--------------------------------------------*/
  .first {
    float: left;
    clear: both;
    overflow: auto;
    width: 52%;
    height: 15em;
    margin-bottom: 0.3em;
    margin-right: 0.7em;
  }
  .col-12 h1 {
    color: lightskyblue;
    padding-left: 0em;
    margin-top: 2em;
  }
  p {
    color: white;
    font-size: 24px;
    line-height: 1.4em;
  }
  
  .links {
    color: white;
  }
  #footer-text {
    color: white;
  }
  .index-container {
    float: left;
    clear: both;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    width: 95%;
  }
  .index-portfolio {
    float: left;
    clear: both;
    overflow: auto;
    margin-left: 10px;
    margin-bottom: 3em;
    margin-right: 10px;
  }
  
  .image-1 {
    height: 400px;
    width: 95%;
    margin-bottom: 0.5em;
  }
  .image-2 {
    height: 400px;
    width: 95%;
    margin-bottom: 0.5em;
  }
  .image-3 {
    height: 400px;
    width: 95%;
    margin-bottom: 0.5em;
  }
  .image-4 {
    height: 400px;
    width: 95%;
    margin-bottom: 0.5em;
  }
  .image-5 {
    height: 400px;
    width: 95%;
    margin-bottom: 0.5em;
  }